.editer {
  padding: 24px;
}
.editer p:nth-child(1) {
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
  padding: 0px 2px;
}
.editer p:nth-child(2) {
  font-size: 12px;
  margin: 2px 0px 6px;
}
