header {
  width: 100%;
  height: 50px;
  background-color: #f8f9f9;
  display: flex;
  border-top: solid 3px #f48225;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 3px 5px #e6e6e6;
  z-index: 1;
  position: fixed;
}
.headerLogo {
  padding: 16px 10px;
  width: 1;
  margin-left: 3vw;
}
.headerLogo:hover {
  background-color: #e3e6e8;
  cursor: pointer;
}
.headerProducts {
  color: #6b7177;
  font-size: 13px;
}
.headerSearch {
  width: 50vw;
  padding: 8px;
  margin: 0 20px;
  border: solid 1px #c7cbcf;
}
.headerSearch:focus {
  border: solid 1px #6bbbf7;
  box-shadow: 0 0 3px 3px #d3e5f2;
}
.headerLink {
  display: flex;
}
.headerUserProfile {
  display: flex;
  cursor: pointer;
  padding: 9px 10px;
}
.headerUserProfile:hover {
  background-color: #e3e6e8;
  cursor: pointer;
}
.headerUserProfile > img {
  width: 25px;
  height: 25px;
  border-radius: 10px;
  padding-top: 3px;
}
.headerUserProfile > p {
  padding: 8px 3px;
  font-size: 12px;
  font-weight: 700;
}
.headerUserInfo {
  width: 250px;
  color: #525960;
  margin-right: 3vw;
}
.headerUserInfo > i {
  font-size: 20px;
  padding: 14px 10px;
}
.headerUserInfo > i:hover {
  background-color: #e3e6e8;
  cursor: pointer;
}
