.logoutModal {
  position: absolute;
  left: 145px;
}
.logoutModal > button {
  color: var(--link);
  background-color: white;
  border: var(--border);
  border-radius: 5px;
  padding: 8px;
  width: 70px;
  cursor: pointer;
}
