.navMargin {
  margin-left: 40px;
}
nav {
  font-size: 12px;
  width: 150px;
  height: 800px;
  background-color: #fff;
  border-right: solid 1px #dbdee0;
  position: fixed;
  top: 50px;
}
.navMenu {
  padding: 30px 0;
}
.navMenu > ul > li {
  color: #8b9299;
  padding: 10px;
}
.navSubMenu > li {
  color: #797e84;
  padding: 10px;
}
.navMenuHover:hover {
  color: #000;
  font-weight: 700;
  background-color: #e3e6e8;
  cursor: pointer;
  border-right: solid 3px #f48225;
}
.fa-earth-americas {
  font-size: 16px;
}
