.questionSummary {
  border-top: 1px solid rgb(196, 195, 195);
  margin-right: 160px;
  padding: 16px;
  height: fit-content;
  display: flex;
}

.questionSummary li {
  list-style-type: none;
}

.qPost {
  width: 800px;
  float: left;
}

.qPost :nth-child(1) {
  font-size: 17px;
  line-height: 20px;
}

.qPost :nth-child(2) {
  font-size: 13px;
  line-height: 17px;
  margin: 8px 0px;
}

.postSum {
  margin: 0px 16px 10px 10px;
}

.postSum p {
  font-size: 13px;
  margin: 0px 16px 20px 0px;
}
