.fsHeadLine {
  display: flex;
}

.fsHeadLine h1 {
  font-size: 27px;
  margin: 10px 800px 12px 0px;
}

.fsHeadLine btn {
  margin: 0px 0px 12px 0px;
}

.qTopBar {
  margin: 0px 0px 12px;
  display: flex;
}

.qTopBar p {
  margin-right: 500px;
}

.qListItem {
  list-style-type: none;
}

.filterMenu {
  background-color: rgb(235, 235, 235);
  border: 1px solid rgb(164, 163, 163);
  border-radius: 1%;
  margin-right: 160px;
  padding: 20px;
}

.filterMenu li {
  list-style-type: none;
  font-size: 15px;
  line-height: 19px;
}
.menuOptions {
  display: flex;
  margin-bottom: 20px;
}
.menuOption {
  flex-grow: 1;
}
.menuOption p {
  font-weight: bold;
  font-size: 15px;
  line-height: 19px;
}
.menuOption input:checked + label {
  color: red;
}
