.signUpNotice {
  height: 99vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.signUpNoticeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 525px;
  padding: 16px;

  border: 1px solid #a6d9b7;
  border-radius: 5px;
  background-color: #dbf0e2;
  color: #3b4045;
}
