/* 소셜 버튼 전체 설정 */
.socialBtnWrapper {
  margin: 0 0 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.socialBtn {
  width: 310px;
  height: 37px;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  border-radius: 6px;
  border: var(--border);

  cursor: pointer;
}
i {
  font-size: 18px;
}

/* 소셜 버튼 각 설정 */
.fa-google {
  background: linear-gradient(to bottom left, transparent 49%, #fbbc05 50%) 0 25%/48% 40%, linear-gradient(to top left, transparent 49%, #fbbc05 50%) 0 75%/48% 40%,
    linear-gradient(-40deg, transparent 53%, #ea4335 54%), linear-gradient(45deg, transparent 46%, #4285f4 48%), #34a853;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.socialBtnGoogle {
  background-color: white;
  color: #3b4045;
}
.socialBtnGoogle:hover {
  background-color: #f8f9f9;
}
.socialBtnGoogle:active {
  border: none;
  outline: var(--outline-gray);
}

.socialBtnGithub {
  background-color: #2f3337;
  color: white;
}
.socialBtnGithub:hover {
  background-color: #232629;
}
.socialBtnGithub:active {
  border: none;
  outline: var(--outline-gray);
}

.socialBtnFacebook {
  background-color: #385499;
  color: white;
}
.socialBtnFacebook:hover {
  background-color: #2f4785;
}
.socialBtnFacebook:active {
  border: none;
  outline: var(--outline-blue);
}
