/* ---------------------Header(login)--------------------- */
.headerContainer{
    width: 100%;
    height: 50px;
    background-color: #f8f9f9;
    display: flex;
    border-top: solid 3px #f48225;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 3px 5px #e6e6e6;
    z-index: 1;
    position: fixed;
}
.logo{
    padding: 16px 10px; 
    width: 1;
    margin-left: 3vw;
}
.logo:hover{
    background-color: #e3e6e8;
    cursor:pointer;
}
.products{
    color: #6B7177;
    font-size: 13px;
}
input{
    width: 50vw;
    padding: 8px;
    margin: 0 20px;
    border: solid 1px #C7CBCF;
}
input:focus{
    border: solid 1px #6bbbf7;
    box-shadow: 0 0 3px 3px #d3e5f2;
}
.link{
    display: flex;
}
.userProfile{
    display: flex;
    cursor:pointer;
    padding: 9px 10px;
}
.userProfile:hover{
    background-color: #e3e6e8;
    cursor:pointer;
}
.userProfile>img{
    width: 25px;
    height: 25px;
    border-radius: 10px;
    padding-top: 3px;
}
.userProfile>p{
    padding: 8px 3px;
    font-size: 12px;
    font-weight: 700;
}
.userInfo{
    width: 250px;
    color:#525960;
    margin-right: 3vw;
}
.icon{
    font-size: 20px;
    padding: 14px 10px;
}
.icon:hover{
    background-color: #e3e6e8;
    cursor:pointer;
}
/* ---------------------Nav--------------------- */
.navMargin{
    margin-left: 40px;
}
.navContainer{
    font-size: 12px;
    width: 150px;
    height: 800px;
    background-color: #fff;
    border-right: solid 1px #DBDEE0;
    position: fixed;
    top: 50px;
}
.menu{
    padding: 30px 0;
}
.menu>ul>li{
    color: #8B9299;
    padding: 10px;
    
}
.subMenu>li{
    color: #797E84;
    padding: 10px;
}
.menuHover:hover{
    color: #000;
    font-weight: 700;
    background-color: #e3e6e8;
    cursor:pointer;
    border-right: solid  3px #F48225;
}
/* ---------------------Sidebar--------------------- */
.sidebarContainer{
    position: absolute;
    top:60px;
    right: 40px;
    font-size: 12px;
    width: 320px;
    height: 1000px;
    background-color: #fff;
}
.blogFeature{
    box-shadow: 0 0 5px rgb(195, 195, 195);
    margin: 20px 0px;
    width: 300px;
}
.blogFeatureTitle{
    background-color: #FBF3D5;
    border: solid 1px #F5EBC8;
    font-weight: 700;
    height: 50px;
    padding: 15px;
    font-size: 13px;
}
.blogFeatureContents{
    background-color: #FDF7E2;
    height: 150px;
    padding: 15px;
}
.customFilters{
    box-shadow: 0 0 5px rgb(195, 195, 195);
    margin-bottom: 20px;
    width: 300px;
}
.watchedTags{
    box-shadow: 0 0 5px rgb(195, 195, 195);
    width: 300px;
}
.filtertagTitle{
    background-color: #F8F9F9;
    height: 50px;
    padding: 15px;
    font-size: 15px;
}
.fiterContents{
    height: 100px;
    padding: 15px;
}
.tagContents{
    height: 100px;
    padding: 15px;
}

/* ---------------------Footer--------------------- */
.footerContainer{
    padding: 50px;
    font-size: 12px;
    width: 100%;
    height: 280px;
    background-color: #232629;
    color: #9199A1;
    position: relative;
    bottom: 0;
    margin-top: 100%;
    display: flex;
}
.footerLogo{

}
.footerMenus{
    display: flex;
}
.footerMenu{
    margin: 0 20px;
}

/* ---------------------Modal--------------------- */
.seachmodal{
    background-color: #fff;
    z-index: 2;
    position: absolute;
    top: 50px;
    left: 2%;
    width: 50vw;
    height: 100px;
    box-shadow: 0 0 5px #989898;
    padding: 10px;
}
.logoutmodal{
    background-color: #fff;
    z-index: 2;
    position: fixed;
    top: 50px;
    right: 50px;
    width: 50px;
    border: solid 1px #d9d9d9;
}
.menumodal{
    position:fixed;
    left: 15px;
    height: 400px;
    box-shadow: 0 0 5px rgb(201, 201, 201);
}
/* ---------------------Header(logout)--------------------- */
.headerMenu{
    display: flex;
    color: #6B7177;
    font-size: 13px;
}
.headerMenu>p{
    padding: 0 5px;
}
.loginSignup{
    width: 180px;
    margin-right: 30px;
}
button{
    font-size: 15px;
    padding: 5px 10px;
    margin: 0 2px;
    cursor: pointer;
}
.login{
    background-color: #B3D3EA;
    color: #335B99;
    border: solid 1px #82ACCA;
}
.signup{
    background-color: #0A95FF;
    color: #DBF0FF;
    border: solid 1px #0A95FF;
}